root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cs,csproj,props,targets,sln}]
indent_size = 4

[*.{sh,yml,yaml,json,jsonc,md,ts,tsx,vue,scss,css,html}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.sln]
indent_style = tab
